body {
  width: 100%;
}
nav {
  background-color: coral;
}

.container,
ul {
  /* width: 100%; */
  display: flex;
  justify-content: flex-end;
  /* align-items: center; */
}

.grid {
  display: grid;
}

header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #e8a87c;
  display: inline;
  text-align: center;
  position: relative;
  width: 100%;
}

ul,
button {
  list-style-type: none;

  display: flex;
  margin: 10px;
  padding: 5px;
  /* background-color: #41b3a8; */
  color: #e8a87c;
  height: 40px;
  width: 70px;
  text-align: center;
}
ul button {
  background-color: #41b3a8;
}
body {
  background-color: #8cd8b7ce;
}

.grid-q-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}

#question_1 {
  grid-column: 1/2;
}

h2 {
  grid-column: 2/3;
}

.box {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #c38d9e;
  float: left;
  width: 80px;
  border-radius: 10px;
  text-align: center;
  padding: 20px 0;
}
